*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}

.homepage{
  display:flex;
  background-image: url("images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.logo{
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
.logo img{
  padding:1.5em 0;
  padding-left:4.5em;
}
.image{
  width:40%;
}
.image img{
  z-index:3;
  margin-top:-90px;
  
}
.mobile{
  display:none;
}
.text{
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    padding-top: 2.5em;
    padding-left:4.5em;
    width: 70%;
    color:hsl(0, 36%, 70%);
    
}
.text h1{
    font-weight: 600;
    font-size:3.5em;
    line-height:1.2em;
    width:25%;
    letter-spacing: 0.15em;
    color:#000000;
}
span{
    font-weight:300;
    color:hsl(0, 36%, 70%);
}
.text p{
    padding-top:1.1em;
    width: 65%;
    line-height:1.5em;
}
#form {
  padding-top:2.5em;
  position:relative;
  border-color:hsl(0, 36%, 70%) ;
}
.form input{
  display: inline-block;
  width: 300px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid  hsl(0, 36%, 70%);
  padding-left: 20px;
  font-size: 0.7rem;
  margin-bottom: 0;
}

.form input::placeholder{
  color: hsl(0, 36%, 70%);
}

.form input:focus{
  outline: none;
  color: hsl(0, 36%, 70%);
  font-size: .8rem;
  font-weight: bold;
}
.form input:hover{
  border-color:hsl(0, 93%, 68%);
}

.form .error-icon{
  position: absolute;
  bottom: 9px;
  left: 230px;
  visibility: hidden;
}

.form.error .error-icon{
  visibility: visible;
}

.form button{
  width: 80px;
  height: 41px;
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  left: 270px;
  border: 1px none;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 2px 10px 9px hsla(0, 74%, 74%, 0.3);
}

.form button:focus{
  outline: none;
}

.form button:hover{
  background:  hsl(0, 80%, 86%);
  left:275px;
}

.form #small{
  color: hsl(0, 93%, 68%);
  display: block;
  margin:5px;
  position: absolute;
  left: 10px;
  visibility: hidden;
}

.form.error #small{
  visibility: visible;
}
@media only screen and (max-width:800px){
  .homepage{
    flex-direction:column-reverse;
  }
  .image img{
    margin-top:4px;
    width:100%;
  }
  .desktop{
    display:none;
  }
  .mobile{
    display:flex;
  }
  .logo{
    background-size: cover;
  }
  .text{
    width:100%;
    padding-left:1.5em;
  }
  .text h1{
    font-size: 2.5em;
    text-align:center;
    padding-left: 0.7em;
    
  }
  .text p{
    width:80%;
    margin:auto;
  }
  #form{
    padding-bottom:4.5em;
    width:90%;
    
  
  }
  .form input{
    width:75%;
  height: 30px;
  border-radius: 30px;
  margin-left:3em;
  }
  .form button{
    width: 47px;
    height: 35px;
    border-radius: 30px;
    left:73%;
    bottom:69px;
    box-shadow: 1px 5px 4px hsla(0, 74%, 74%, 0.3);
  }
  
.form button:hover{
  left:75%;
}
  .form .error-icon{
    bottom: 75px;
    left: 68%;
    
  }
  .form #small{
    font-size:0.8em;
    left:55px;

  }

}
@media only screen and (min-width:501px) and (max-width:800px){
  .text h1{
    padding-left:5.5em;
  
  }
  .text p{
    font-size:1.2em;
  }
  .form input{
    margin-left:5.5em
  }
  .form button{
    width:75px;
  }
  .form #small{
    left:65px;
    font-size:0.9em;
  }

}
